@charset "utf-8";

/* Side Menu */

#nt_side_menu { 

}
#nt_side_menu .side-menu-head { 
	position:relative;
	z-index:1;
	text-align:center;
	padding:35px 10px;
	font-size:20px;
	line-height:1.4;
}
@media (max-width: 480px) {
	.responsive #nt_side_menu .side-menu-head { 
		padding:20px 10px;
		font-size:18px;
	}
}
#nt_side_menu ul { 
	list-style:none; 
	padding:0; 
	margin:0; 
}
#nt_side_menu .me-ul {
	border:1px solid #ddd;
	border-top:0;
	margin-top:-1px;
}
#nt_side_menu ul.off {
	display:none;
}
#nt_side_menu li { 
	padding:0; 
	margin:0; 
	position:relative; 
}
#nt_side_menu a { 
	display:block; 
	padding-left:34px; 
	line-height:38px; 
	height:38px; 
	border-top:1px solid #eee;
	overflow:hidden;
}
#nt_side_menu .me-a { 
	border-top:1px solid #ddd;
}
.is-mobile #nt_side_menu a {
	line-height:42px; 
	height:42px; 
}
#nt_side_menu .tree-toggle { 
	position:absolute; 
	z-index:1; 
	left:0; 
	top:0; 
	width:34px; 
	height:38px; 
	line-height:38px; 
	text-align:center; 
	cursor:pointer; 
	color:#aaa;
}
.is-mobile #nt_side_menu .tree-toggle {
	height:42px; 
	line-height:42px; 
}
#nt_side_menu .me-ul { 
	background:#fff; 
}
#nt_side_menu .me-ul1 { 
	background:#fafafa; 
}
#nt_side_menu .me-ul2 { 
	background:#fff; 
}

#nt_side_menu .me-li.active .me-a,
#nt_side_menu .me-li1.active .me-a1,
#nt_side_menu .me-li2.active .me-a2 {
	color:crimson;
	font-weight:bold;
}
#nt_side_menu .me-line1 .me-a1 { 
	background:#fff;
	font-weight:bold;
}
#nt_side_menu .me-line2 .me-a2 { 
	background:#fafafa;
	font-weight:bold;
}
