@charset "utf-8";

/********************************************************
■ Go Top & Bottom : 상단/하단 이동버튼
********************************************************/
#nt_bottom .go-btn { 
	display:none; 
	position: fixed; 
	width:40px; 
	bottom: 20px; 
	right: 25px; 
	z-index: 2; 
}
#nt_bottom .go-btn span { 
	display: block; 
	color:#fff; 
	background: rgba(0,0,0,0.5); 
	margin:5px 0; 
	text-align: center; 
	border-radius: 50%; 
	width: 42px; 
	height: 42px; 
	line-height: 42px !important; 
	font-size: 19px; 
}
#nt_bottom .go-btn .go-bottom { 
	display:none; 
}
@media (max-width: 768px) {
	.responsive #nt_top { 
		display:none !important; 
	}
}
