@charset "utf-8";

#bo_search form{
	max-width:400px; 
	margin:0 auto;
}
.bo-search.well {
	border:1px solid #e5e5e5;
	background:#fafafa;
}

#bo_list_total {
	padding:8px 0 4px;
}

#bo_btn_top {
	margin:6px 0 4px;
}
#bo_btn_top:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}
.btn_bo_user {
	float:right;
	margin:0;
	padding:0;
	list-style:none;
}
.btn_bo_user li {
	float:left;
	text-align:center;
	background:#fff;
}
.btn_bo_user > li {
	position:relative;
}

/* 목록 */
#bo_list { }
#bo_list .chk { 
	width:40px;
	text-align:center;
}
#bo_list .chk input { 
	margin:0 !important;
}
#bo_list .num { 
	width:60px; 
	text-align:center;
}
#bo_list .status { 
	width:60px; 
	text-align:center;
}
#bo_list .name { 
	width:120px; 
}
#bo_list .date { 
	width:90px; 
	text-align:center;
}
#bo_list > ul { 
	list-style:none; 
	padding:0; 
	margin:0; 
}
#bo_list .tr { 
	border-bottom:1px solid #e8e5e9; 
}
#bo_list .tr .tr { 
	border-bottom:0;
}
#bo_list .tr:hover { 
	color:#000; 
	background-color:#fafafa; 
}
#bo_list .td { 
	padding:8px 10px; 
	color:#666; 
}
#bo_list .td.subj { 
	padding:0; 
}
#bo_list .td-item.date .fa { 
	display:none;
}
#bo_list .empty_list { 
	padding:50px 0; text-align:center; color:#888 
}
@media all and (max-width:768px) {
	.responsive #bo_list .td.subj { 
		padding:8px 10px; 
	}
	.responsive #bo_list .td-subj { 
		display:block;
		padding:0;
	}
	.responsive #bo_list .td-item { 
		display:inline-block;
		width:auto;
		padding:0;
	}
	.responsive #bo_list .td-item.name { 
		float:right;
	}
	.responsive #bo_list .td-item.date { 
		float:left;
		color:#888;
	}
	.responsive #bo_list .td-item.date .fa { 
		display:inline-block;
	}
}

/* 버튼 : 관리자, 수정 등 더보기 */
.more_opt {
	display:none;
	position:absolute;
	top:45px;
	right:0;
	background:#fff;
	border:1px solid #b8bfc4;
	z-index:900;
}
.more_opt:before {
	content:"";
	position:absolute;
	top:-8px;
	right:13px;
	width:0;
	height:0;
	border-style:solid;
	border-width:0 6px 8px 6px;
	border-color:transparent transparent #b8bfc4 transparent;
}
.more_opt:after {
	content:"";
	position:absolute;
	top:-6px;
	right:13px;
	width:0;
	height:0;
	border-style:solid;
	border-width:0 6px 8px 6px;
	border-color:transparent transparent #fff transparent;
}
.more_opt li {
	border-bottom:1px solid #f1f1f1;
	padding:10px 0;
	float:inherit;
	width:70px;
	margin:0;
	color:#6b757c;
	text-align:center;
}
.more_opt li:last-child {
	border-bottom:0;
}
.more_opt li a,
.more_opt li button {
	width:100%;
	border:0;
	background:#fff;
	color:#6b757c;
}
.more_opt li:hover a,
.more_opt li:hover button {
	color:#000;
}

/* 읽기 : 제목 & 정보 */
#bo_v { 
	margin-bottom:20px;
}
#bo_v .list-group-item {
	border-left:0;
	border-right:0;
}
#bo_v img {
	max-width:100%;
	height:auto;
}
#bo_v_title {
	font-size:23px;
	font-weight:bold;
	line-height:34px;
	margin:0; 
	padding:0 15px 8px; 
	letter-spacing:-1px;
}
.bo_v_cate { 
	padding:0 15px;
	color:#888;
}
.profile-info { 
	background:#f5f5f5; 
	border-top:1px solid #ddd; 
	padding:10px 15px;
}
.content-info { 
	padding-left:15px;
}
.content-info .pull-left { 
	padding-top:8px;
	padding-bottom:2px;
}
.space-fa {
	margin:0 5px;
}
.space-left {
	display:inline-block;
	margin-left:10px; 
	color:#888;
}
.space-right {
	display:inline-block;
	margin-right:10px;
	color:#888;
}
.space-fa .fa,
.space-left .fa,
.space-right .fa {
	color:#aaa;
}

/* 읽기 : 버튼 */
#bo_v_btn {
	zoom:1;
}
#bo_v_btn:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}
#bo_v_btn ul {
	padding:0;
	margin:0;
	list-style:none;
	word-break:break-all;
	background:#fff;
}
.bo_v_com {
	margin:0;
	float:right
}
.bo_v_com > li {
	position:relative;
	float:left;
}

/* 읽기 : 내용 */
#bo_v_con {
	padding:15px;
	width:100%; 
	min-height:200px; 
	word-break:break-all;
	overflow:hidden
}
.is-mobile #bo_v_con { 
	min-height:100px; 
}
#bo_v_img {
	width:100%;
	text-align:center;
	overflow:hidden;
	zoom:1;
}
#bo_v_img:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}
#bo_v_img a.view_image {
	display:block;
}
#bo_v_img img {
	margin-bottom:20px;
}
#bo_v_file {
	padding:0 15px 20px;
}

/* 읽기 : 답변 */
#ans_con {
	padding-top:15px;
}
.bo_v_rel {
	list-style:disc; 
	padding-left:15px;
}
.bo_v_rel li {
	padding:4px 0;
}
.bo_prev_next { 
	width:100px;
}

/* 쓰기 */
.is-mobile #qa_content {
	height:150px;
}