@charset "utf-8";

/********************************************************
■ Mobile Header
********************************************************/
#header_mo { 
	display:none;
	box-shadow: 0px 5px 5px -2px rgba(50, 60, 70, 0.15); 
	-webkit-box-shadow: 0px 5px 5px -2px rgba(50, 60, 70, 0.15); 
	-moz-box-shadow: 0px 5px 5px -2px rgba(50, 60, 70, 0.15); 
}
#header_mo a { 
	color:#fff 
}
#header_mo .nt-container { 
	padding:0; 
}
#header_mo .header-wrap { 
	display:table; 
	width:100%; 
	table-layout:fixed; 
	margin:0; 
	min-width:300px; 
	border-collapse: collapse; 
}
#header_mo .header-icon, 
#header_mo .header-logo { 
	display:table-cell; 
	vertical-align:middle; 
	font-size:18px; 
	height:45px; 
	line-height:45px; 
	text-align:center; 
}
#header_mo .header-icon { 
	width:44px; 
}
#header_mo .header-icon a { 
	display:block; 
}
@media all and (min-width:992px) {
	.responsive #search_mo {
		display:none;
	}
}
@media all and (max-width:991px) {
	.responsive #header_mo { 
		display:block; 
	}
}

/********************************************************
■ PC Menu
********************************************************/
#nt_menu { 
	position:relative; 
	background: rgb(50, 60, 70);
	z-index:3;
	box-shadow: 0px 5px 5px -2px rgba(50, 60, 70, 0.15); 
	-webkit-box-shadow: 0px 5px 5px -2px rgba(50, 60, 70, 0.15); 
	-moz-box-shadow: 0px 5px 5px -2px rgba(50, 60, 70, 0.15); 
}
#nt_menu .nt-container,
#nt_menu .me-list .me-li,
#nt_menu .sub-1dul,
#nt_menu .sub-1dli {
	position:relative;  
}

#nt_menu .me-wrap { 
	display:table; 
	width:100%; 
	table-layout:fixed; 
	margin:0; 
}
#nt_menu .me-cell { 
	display:table-cell; 
	padding:0; 
}
#nt_menu .sub-slide,
#nt_menu .sub-shows { 
	display:none; 
	visibility:visible; 
}
#nt_menu .sub-icon::after { 
	font-family: "FontAwesome"; 
	float: right; 
	position: relative; 
	content: "\f105"; 
}
#nt_menu .me-list .me-li { 
	display:inline-block;
}
#nt_menu .me-a { 
	display:block; 
	position:relative;
}
#nt_menu .me-head,
#nt_menu .me-tail {
	width:50px; 
}
#nt_menu .me-head .me-li,
#nt_menu .me-tail .me-li {
	width:50px; 
	float:left;
	text-align:center;
}
#nt_menu .me-head a > i,
#nt_menu .me-tail a > i {
	font-size:17px;
}
@media all and (max-width:991px) {
	.responsive #nt_menu,
	.responsive #nt_menu_all { 
		display:none; 
	}
}
#nt_menu .sub-1div { 
	position:absolute; 
	left:0; 
}
#nt_menu .sub-1da { 
	display:block; 
}
#nt_menu .sub-1line { 
	position:relative; 
	display:block;
}
#nt_menu .sub-2div { 
	left:100%; 
	top:0; 
	position:absolute; 
	z-index:20; 
} 
#nt_menu .sub-2dul { }
#nt_menu .sub-2dli { }
#nt_menu .sub-2da { 
	display:block; 
} 
#nt_menu .sub-2line { 
	display:block; 
}
#nt_menu .sub-1div {
	position:absolute;
}
#nt_menu .sub-1div::before { 
	left: 50%; 
	margin-left:-8px; 
}

/* 스타일 */
#nt_menu .me-a { 
	font-size: 15px;
	font-family: "Roboto", sans-serif;
	color:#fff;
	height:44px;
	line-height:44px;
	font-weight:bold;
}
#nt_menu .me-list .me-li { 
	float:left;
}
#nt_menu .me-li.on .me-a,
#nt_menu .me-li:hover .me-a { 
	color:#fff; 
	background: #000; 
}
#nt_menu .sub-1div {
	top:44px;
	background:#fff; 
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
}
#nt_menu .sub-1da { 
	color:#000; 
	padding:0 15px; 
	border-bottom: 1px solid #eee;
}
#nt_menu .sub-1dli.on .sub-1da,
#nt_menu .sub-1dli:hover .sub-1da { 
	color:#fff; 
	background: #333; 
	border-color: #333; 
}
#nt_menu .sub-1line { 
	color:#000; 
	font-weight:bold; 
	background:#fafafa; 
}
#nt_menu .sub-2div { 
	background: #fff; 
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
} 
#nt_menu .sub-2da { 
	color:#000; 
	padding:0 15px; 
	border-bottom: 1px solid #eee; 
} 
#nt_menu .sub-2dli.on .sub-2da,
#nt_menu .sub-2dli:hover .sub-2da { 
	color:#fff; 
	background: #222; 
	border-color: #222; 
}
#nt_menu .sub-2line { 
	color:#000; 
	font-weight:bold; 
	background:#f5f5f5; 
}

/* 주메뉴 메뉴간격 : 페딩값으로 조절 */
#nt_menu .me-list .me-a { 
	padding:0 15px;
}
/* 서브메뉴 높이설정 : 페딩값으로 조절 */
#nt_menu .me-sh { 
	padding:8px 15px; 
}

/********************************************************
■ 전체 메뉴
********************************************************/
.me-all { 
	position:relative; 
	background:#fafafa; 
	z-index:2; 
	-webkit-box-shadow: inset 0px -10px 10px -10px rgba(0,0,0,0.2); 
	-moz-box-shadow: inset 0px -10px 10px -10px rgba(0,0,0,0.2); 
	box-shadow: inset 0px -10px 10px -10px rgba(0,0,0,0.2); 
}
.me-all .nt-container { 
	padding:20px 15px 0px; 
}
.me-all .table { 
	margin-bottom:20px !important;
}
.me-all .table td { 
	width:1%; 
	background:#fff; 
	border:1px solid #ddd; 
	padding:0; 
	line-height:1.6; 
}
.me-all .me-a { 
	display:block; 
	color:#000; 
	padding:6px 12px; 
	background:#f5f5f5; 
	border-bottom:1px solid #ddd; 
	font-weight:bold; 
	text-align:center; 
}
.me-all .table td.on .me-a { 
	color:crimson; 
}
.me-all .sub-1div { 
	padding:8px 0; 
}
.me-all .sub-1dul { 
	list-style:none; 
	padding:0; 
	margin:0; 
}
.me-all .sub-1dli .sub-1da { 
	display:block; 
	padding:2px 12px; 
	color:#333; 
}
.me-all .sub-1dli.on .sub-1da,
.me-all .sub-1dli:hover .sub-1da { 
	color:crimson; 
}
.me-all .sub-1line { 
	display:block; 
	color:#000; 
	padding:5px 12px; 
	margin:4px 0; 
	font-weight:bold; 
	background:#fafafa; 
}
.btn-me-all {
	text-align:center;
}
.btn-me-all .btn {
	border-radius:0;
	border-bottom:0;
	margin-bottom:2px;
}

/* 상단고정시 */
#nt_menu_wrap.me-sticky { 
	position:fixed;
	width:100%; 
	z-index:999; 
	left:0;
	top:0;
}
