@charset "utf-8";

#sch_res_detail form{
	max-width:800px; 
	margin:0 auto;
}
#sch_res_detail.well {
	border:1px solid #e5e5e5;
	background:#fafafa;
}
#sch_res_board .cnt_cmt {
	font-weight:bold; 
	padding-left:5px;
	color:orangered;
}
#sch_res_ov {
	padding:15px 0 10px;
	border-bottom:4px solid #e7e5e9;
}
#sch_res_ov strong {
	color:orangered;
}
#sch_res_list > a {
	display:block;
	padding:10px 0;
	border-bottom:1px solid #e5e5e5;
}
#sch_res_list > ul > li {
	padding:8px 0;
	border-bottom:1px solid #e7e5e9;
}
#sch_res_list > ul > li p {
	color:#888;
	padding:7px 0;
}
.empty_list { 
	padding:30px 0; 
	text-align:center; 
	color:#888; 
}
