@charset "utf-8";

@import url('//fonts.googleapis.com/css?family=Roboto:400,300,500,500italic,700,900,400italic,700italic');

@import url('./color.css');

/* 폰트 정리 : 부트스트랩 html 기본 폰트 : 10px 기준 --------------------- */
body { 
	font-family:sans-serif;
	font-size:1.5rem;
	line-height:1.7;
}

body.is-pc {
	font-family:"dotum", sans-serif;
	font-size:1.2rem;
	line-height:1.8;
}

h1, h2, h3, h4, h5, h6 { 
	font-family:"Roboto", sans-serif;
}

/* 돋움체 기준 11px 고정 영역 및 요소*/
.f-tiny {
	font-size:1.2rem;
}
.is-pc .f-tiny {
	font-size:1.1rem;
	line-height:1.8;
}

/* 돋움체 기준 12px 고정 영역 및 속성 : 주로 lnb, footer 영역 */
.f-small {
	font-size:1.3rem;
	line-height:1.8;
}
.is-pc .f-small {
	font-size:1.2rem;
}

/* 부트스트랩 버튼 */
.is-pc .btn {
	font-family:"Roboto", sans-serif;
}
.is-pc .btn-sm, 
.is-pc .btn-xs {
	font-family:"dotum", sans-serif;
}

/* 트루타입 폰트 적용해야 하는 곳 */
.en {
	font-family:"Roboto", sans-serif;
}

/* 벡터 폰트 적용 */
.is-pc .ko, 
.is-pc pre {
	font-family:"dotum", sans-serif;
}
.is-mobile pre {
	font-family:sans-serif;
}

/* 부트스트랩 입력폼 폰트 */
.is-pc .form-control,
.is-pc .input-group-addon {
	font-size:12px !important;
}

/* ------------------------------------------------- */

/* 초기화 */
body {
	margin:0;
	padding:0;
	color:#333;
	background-color:#fff;
}
body.bg-top { 
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center top; 
}
body.bg-center { 
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center center; 
}
body.bg-bottom { 
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center bottom;
}
body.bg-fixed { 
	background-repeat: no-repeat;
	background-size:100%;
	background-position: center top;
	background-attachment:scroll; 
}
body.bg-pattern { 
	background-repeat: repeat;
	background-size:auto;
	background-attachment:scroll; 
}

html, h1, h2, h3, h4, h5, h6, form, fieldset, img {
	margin:0;
	padding:0;
	border:0;
}

ul, dl,dt,dd {
	margin:0;
	padding:0;
	list-style:none;
}

legend {
	position:absolute;
	margin:0;
	padding:0;
	font-size:0;
	line-height:0;
	text-indent:-9999em;
	overflow:hidden;
}

label, input, button, select, img {
	vertical-align:middle; 
}

input[type="submit"] {
	cursor:pointer;
}

button {
	cursor:pointer;
}

select {
	margin:0;
}

fieldset legend, hr {
	display:none;
}

p {
	margin:0;
	padding:0;
	word-break:break-all;
}

a { 
	color: #000; 
	text-decoration: none; 
}

a:hover, a:focus, a:active { 
	color: crimson; 
	text-decoration: none; 
}

.placeholdersjs {
	color:#aaa !important
}


/* 팝업 레이어 */
#hd_pop {z-index:998;position:relative;margin:0 auto;height:0}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff}
.hd_pops img {max-width:100%}
.hd_pops_con {}
.hd_pops_footer {padding:0;background:#000;color:#fff;text-align:left;position:relative}
.hd_pops_footer:after {display:block;visibility:hidden;clear:both;content:""}
.hd_pops_footer button {padding:10px;border:0;color:#fff}
.hd_pops_footer .hd_pops_reject {background:#000;text-align:left}
.hd_pops_footer .hd_pops_close {background:#393939;position:absolute;top:0;right:0}

/* 게시물 선택복사 선택이동 */
#copymove {}
#copymove .win_desc {text-align:center;display:block}
#copymove .tbl_wrap {margin:20px}
#copymove .win_btn {padding:0 20px 20px}
.copymove_current {float:right;background:#ff3061;padding:5px;color:#fff;border-radius:3px}
.copymove_currentbg {background:#f4f4f4}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;width:0;height:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}

/* ie6 이미지 너비 지정 */
.img_fix {width:100%;height:auto}

/* 캡챠 자동등록(입력)방지 기본 -pc */
#captcha {display:inline-block;position:relative}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#captcha #captcha_img {height:40px;border:1px solid #898989;vertical-align:top;padding:0;margin:0}
#captcha #captcha_mp3 {margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat;text-indent:-999px;border-radius:3px}
#captcha #captcha_reload {margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat 0 -40px;text-indent:-999px;border-radius:3px}
#captcha #captcha_key {margin:0 0 0 3px;padding:0 5px;width:90px;height:40px;border:1px solid #ccc;background:#fff;font-size:1.333em;font-weight:bold;text-align:center;border-radius:3px;vertical-align:top}
#captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}

/* 캡챠 자동등록(입력)방지 기본 - mobile */
#captcha.m_captcha audio {display:block;margin:0 0 5px;width:187px}
#captcha.m_captcha #captcha_img {width:160px;height:60px;border:1px solid #e9e9e9;margin-bottom:3px;margin-top:5px;display:block}
#captcha.m_captcha #captcha_reload {position:static;margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat 0 -40px;text-indent:-999px}
#captcha.m_captcha #captcha_reload span {display:none}
#captcha.m_captcha #captcha_key {margin:0;padding:0 5px;width:115px;height:29px;border:1px solid #b8c9c2;background:#f7f7f7;font-size:1.333em;font-weight:bold;text-align:center;line-height:29px;margin-left:3px}
#captcha.m_captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}
#captcha.m_captcha #captcha_mp3 {width:31px;height:31px;background:url('../../../img/captcha2.png') no-repeat 0 0 ; vertical-align:top;overflow:hidden;cursor:pointer;text-indent:-9999px;border:none}

/* ckeditor 단축키 */
.cke_sc {margin:0 0 5px;text-align:right}
.btn_cke_sc {display:inline-block;padding:0 10px;height:23px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;line-height:1.9em;vertical-align:middle;cursor:pointer}
.cke_sc_def {margin:0 0 5px;padding:10px;border:1px solid #ccc;background:#f7f7f7;text-align:center}
.cke_sc_def dl {margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}

/* ckeditor 태그 기본값 */
#bo_v_con ul {display:block;list-style-type:disc;margin-top:1em;margin-bottom:1em;margin-left:0;margin-right:0;padding-left:40px}
#bo_v_con ol {display:block;list-style-type:decimal;margin-top:1em;margin-bottom:1em;margin-left:0;margin-right:0;padding-left:40px}
#bo_v_con li {display:list-item}

/* 버튼 */
a.btn01 {display:inline-block;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
a.btn01:focus, a.btn01:hover {text-decoration:none}
button.btn01 {display:inline-block;margin:0;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none}
a.btn02 {display:inline-block;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn02:focus, .btn02:hover {text-decoration:none}
button.btn02 {display:inline-block;margin:0;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none}

.btn_confirm {text-align:center}
.btn_submit { border:0; background:#3a8afd; color:#fff; cursor:pointer; padding:10px 20px; line-height:1.4; }
.btn_submit:hover {background:#2375eb}
.btn_close { border:1px solid #dcdcdc; cursor:pointer; border-radius:3px; background:#fff }
a.btn_close { }
a.btn_cancel {display:inline-block; background:#969696; color:#fff;text-decoration:none;vertical-align:middle; padding:10px 20px; line-height:1.4;}
button.btn_cancel {display:inline-block;background:#969696;color:#fff;text-decoration:none;vertical-align:middle}
.btn_cancel:hover {background:#aaa}
a.btn_frmline, button.btn_frmline {display:inline-block;width:128px;padding:0 5px;height:40px;border:0;background:#434a54;border-radius:3px;color:#fff;text-decoration:none;vertical-align:top} /* 우편번호검색버튼 등 */
a.btn_frmline {}
button.btn_frmline {font-size:1em}

/* 게시판용 버튼 */
a.btn_b01,.btn_b01 {display:inline-block;color:#bababa;text-decoration:none;vertical-align:middle;border:0;background:transparent}
.btn_b01:hover, .btn_b01:hover {color:#000}
a.btn_b02,.btn_b02 {display:inline-block;background:#253dbe;padding:0 10px;color:#fff;text-decoration:none;border:0;vertical-align:middle}
a.btn_b02:hover, .btn_b02:hover {background:#0025eb}
a.btn_b03, .btn_b03 {display:inline-block;background:#fff;border:1px solid #b9bdd3;color:#646982;text-decoration:none;vertical-align:middle}
a.btn_b03:hover, .btn_b03:hover {background:#ebedf6}
a.btn_b04, .btn_b04 {display:inline-block;background:#fff;border:1px solid #ccc;color:#707070;text-decoration:none;vertical-align:middle}
a.btn_b04:hover, .btn_b04:hover {color:#333;background:#f9f9f9}
a.btn_admin,.btn_admin {display:inline-block;color:#d13f4a;text-decoration:none;vertical-align:middle} /* 관리자 전용 버튼 */
.btn_admin:hover, a.btn_admin:hover {color:#ff3746}

/* 필수입력 */
.required, textarea.required {background-image:url('../img/require.png') !important;background-repeat:no-repeat !important;background-position:right top !important}

/* 새창 기본 스타일 */
.new_win {position:relative}
.new_win .tbl_wrap {margin:0 20px}
.new_win #win_title {font-size:1.3em;height:50px;line-height:30px;padding:10px 20px;background:#fff;color:#000;-webkit-box-shadow:0 1px 10px rgba(0,0,0,.1);
-moz-box-shadow:0 1px 10px rgba(0,0,0,.1);
box-shadow:0 1px 10px rgba(0,0,0,.1)}
.new_win #win_title .sv {font-size:0.75em;line-height:1.2em}
.new_win .win_ul {margin-bottom:15px;padding:0 20px}
.new_win .win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .win_ul li {float:left;background:#fff;text-align:center;padding:0 10px;border:1px solid #d6e9ff;border-radius:30px;margin-left:5px}
.new_win .win_ul li:first-child {margin-left:0}
.new_win .win_ul li a {display:block;padding:8px 0;color:#6794d3}
.new_win .win_ul .selected {background:#3a8afd;border-color:#3a8afd;position:relative;z-index:5}
.new_win .win_ul .selected a {color:#fff;font-weight:bold}
.new_win .win_desc {position:relative;margin:10px;border-radius:5px;font-size:1em;background:#f2838f;color:#fff;line-height:50px;text-align:left;padding:0 20px}
.new_win .win_desc i {font-size:1.2em;vertical-align:baseline}
.new_win .win_desc:after {content:"";position:absolute;left:0;top:0;width:4px;height:50px;background:#da4453;border-radius:3px 0 0 3px}
.new_win .frm_info {font-size:0.92em;color:#919191}
.new_win .win_total {float:right;display:inline-block;line-height:30px;font-weight:normal;font-size:0.75em;color:#3a8afd;background:#f6f6f6;padding:0 10px;border-radius:5px}
.new_win .new_win_con {margin:20px 0;padding:20px}
.new_win .new_win_con:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .new_win_con2 {margin:20px 0}
.new_win .btn_confirm:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .win_btn {text-align:center}
.new_win .btn_close {height:45px;width:60px;overflow:hidden;cursor:pointer}
.new_win .btn_submit {padding:0 20px;height:45px;font-weight:bold;font-size:1.083em}

/* 검색결과 색상 */
.sch_word {color:#fff;background:#ff005a;padding:2px 5px 3px;line-height:18px;margin:0 2px}

/* 자바스크립트 alert 대안 */
#validation_check {margin:100px auto;width:500px}
#validation_check h1 {margin-bottom:20px;font-size:1.3em}
#validation_check p {margin-bottom:20px;padding:30px 20px;border:1px solid #e9e9e9;background:#fff}

/* 사이드뷰 */
.profile_img img {border-radius:50%}
.sv_wrap {position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;font-size:12px;background:rgb(50, 60, 70);padding:6px 0;
-webkit-box-shadow:2px 2px 3px 0px rgba(0,0,0,0.2);
-moz-box-shadow:2px 2px 3px 0px rgba(0,0,0,0.2);
box-shadow:2px 2px 3px 0px rgba(0,0,0,0.2)}
.sv_wrap .sv:before {content:"";position:absolute;top:-6px;left:15px;width:0;height:0;border-style:solid;border-width:0 6px 6px 6px;border-color:transparent transparent #333 transparent}
.sv_wrap .sv a {display:block;margin:0;padding:0 10px;line-height:28px;width:100px;font-weight:normal;color:#fff}
.sv_wrap .sv a:hover {background:rgba(0,0,0,0.5);color:#fff}
.sv_member {color:#333}
.sv_on {display:block !important;position:absolute;top:23px;left:0px;width:auto;height:auto}
.sv_nojs .sv {display:block}

/* cheditor 이슈 */
.cheditor-popup-window *, .cheditor-popup-window :after, .cheditor-popup-window :before {
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}

/* 메일인증 메일주소 변경 페이지 */
.rg_em_p { margin-bottom:10px; }
.rg_em caption { display:none; }
.rg_em th { width:120px; text-align:right; }
.rg_em th label { font-weight:bold; }

/* 폼 테이블 */
.tbl_frm01 {margin:0 0 20px}
.tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm01 th {width:70px;padding:7px 13px;border:1px solid #e9e9e9;border-left:0;background:#f5f8f9;text-align:left}
.tbl_frm01 td {padding:7px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}
.wr_content textarea,.tbl_frm01 textarea,.form_01 textarea, .frm_input {border:1px solid #d0d3db;background:#fff;color:#000;vertical-align:middle;border-radius:3px;padding:5px;
-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
}
.tbl_frm01 textarea {padding:2px 2px 3px}
.frm_input {height:40px}

.full_input {width:100%}
.half_input {width:49.5%}
.twopart_input {width:385px;margin-right:10px}
.tbl_frm01 textarea, .write_div textarea {width:100%;height:100px}
.tbl_frm01 a {text-decoration:none}
.tbl_frm01 .frm_file {display:block;margin-bottom:5px}
.tbl_frm01 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}

/********************************************************
■ Theme Layout : 테마 레이아웃
********************************************************/
.wrapper { margin:0 auto; background:#fff;  }
.nt-container { margin:0px auto; padding:0px; }
#nt_body { overflow:hidden; }
#nt_body .nt-container { padding:0px 15px; }
.boxed.wrapper #nt_body .nt-container { padding:0px 20px; }
.nt-content { position:relative; padding:20px 0px; }
.nt-row { margin-left:-15px; margin-right:-15px; }
.nt-col { position:relative; padding-left:15px; padding-right:15px; padding-top:20px; padding-bottom:20px; }
@media all and (max-width:991px) {
	.responsive #nt_body .nt-container { padding:0px 10px !important; }
	.responsive #nt_body .nt-row { margin-left:0px; margin-right:0px; }
	.responsive #nt_body .nt-col { padding-left:0px; padding-right:0px; }
}

/********************************************************
■ Loader : 인덱스 페이지 로딩바
********************************************************/
#nt_loader { background: #fff; left: 0; top: 0; width: 100%; height: 100%; display: block; position: fixed; z-index: 100000; }
#nt_loader .loader { color:#ddd; margin: -25px 0 0 -25px; left: 50%; top: 50%; width: 50px; height: 50px; line-height:50px; font-size: 45px; position: absolute; z-index: 10001; }

/********************************************************
■ Widget Title 위젯 타이틀
********************************************************/
h3.h3 { 
	font-size:15px;
	line-height:1.8; 
	padding:0; 
	margin:0; 
	font-weight:bold;
}
h3.h3 .more { 
	font-size:16px
	font-weight:normal;
	font-family:"Roboto", sans-serif;
	color:#ddd;
}
hr.hr::before { 
	width:100%; 
	height:1px; 
	content: ""; 
	position:absolute; 
	left:0; 
	bottom:1px; 
	line-height:1px; 
	background-color:#ddd; 
}
hr.hr { 
	display:block;
	position:relative; 
	height:3px; 
	margin:5px 0 10px; 
	border: none; 
	line-height:1px; 
}
hr.hr::after { 
	width:45px; 
	height:3px; 
	content: ""; 
	position:absolute; 
	left:0; 
	bottom:0; 
	line-height:1px;
}

/********************************************************
■ Bootstrap3 : 부트스트랩 기본속성
********************************************************/

/* Button */
.btn-lg { 
	padding: 10px 16px; 
	border-radius: 3px; 
	line-height: 1.33; 
	font-size: 18px; 
}
.btn-lg i {	
	top: 3px; 
	font-size: 24px; 
	position: relative; 
}
.btn-group.btn-group-justified a { 
	border-left-width:0px; 
}
.btn-group.btn-group-justified a:first-child { 
	border-left-width:1px; 
}

/* List Group */
.list-group-item { 
	word-break:break-all; 
	border-radius:0 !important; 
}

/* 사각 스타일 */
.is-square .form-control,
.is-square .well,
.is-square .btn,
.is-square .alert,
.is-square .input-group-addon,
.is-square .label,
.is-square .progress,
.is-square .pagination li a,
.is-square .list-group-item,
.is-square .panel,
.is-square .panel-group .panel,
.is-square .panel .panel-heading { 
	border-radius:0 !important; 
}
